streamlit

langgraph

langchain
langchain-core
langchain-community
langchain-mongodb
langchain-groq
langchain-huggingface

pymongo

sentence-transformers

pypdf
pymupdf

python-dotenv

tiktoken

tqdm
requests

torchvision
