streamlit

langchain
langchain-core
langchain-community
langchain-mongodb

pymongo

tiktoken>=0.11.0

requests
pymupdf
pypdf
tqdm
python-dotenv

langchain-groq
langchain-huggingface
sentence-transformers